/*CSS DOCUMENT*/

body{
	background-color: #F02743;
	text-align: center;
}

.page-title{
	text-align: center;
	font-weight: 100;
}

h1   {
	color: #FFF;
}
	
p    {
	color: #FFF;
}
a{
	
	color: #000;
}

.gallery-item .thumbnail{
	width: 302px;
	border: 5px solid #FFF;
	position: relative;
	margin: 10px;
}

.link{
	text-align: center;
	background-color: #FFF;
}
.options{
	width: 600px;
	text-align: center;
}

li{
  text-align: center;
  border: 1px solid #2926cc;
}

a:hover {
  color: #2926cc;
}






/*REGISTRY*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}